<p>Заказы</p>

<table class='table table-striped' aria-labelledby="tableLabel" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Заказчик</th>
        <th>Продукт</th>
        <th>Кол.во</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
        <td>Константин Семёнович</td>
        <td>Данон</td>
        <td>16</td>
        <td>на рассмотрении</td>
        <td><a>Принять</a></td>
        <td><a>Отклонить</a></td>
        </tr>
    </tbody>
  </table>