<div class="main-panel">
    <div class="button-container">
        <a id="button-1" class="button" [routerLink]="'/usr/home'">
          <i class="fa fa-credit-card"></i>
          <span>Главная</span>
        </a>
 
        <a id="button-3" class="button" [routerLink]="'/usr/catalog'">
          <i class="fa fa-plane"></i>
          <span>Каталог</span>
        </a>
        <div class="search-panel"><input class="input-field" title="text" type="text" placeholder="Search..."><label class="search-btn">>></label></div>
        <a id="button-4" class="button">
            <i class="fa fa-plane"></i>
            <span>Личный кабинет</span>
            
        </a>
    </div>
   
 
</div>
