<p>categories works!</p>
<p *ngIf="!categories"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="categories">
  <thead>
    <tr>
      <th>Id</th>
      <th>Название</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
      <td>{{ category.categoryName }}</td>
      <td>{{ category.categoryDescription}}</td>
      <td><label (click)="Delete(category.id)">Удалить</label></td>
    </tr>
  </tbody>
</table>